{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

<html>
<head>
    {% block title %}
    <title>Wishlist</title>
    
    {% endblock %}
</head>
<body>
    
        {% block content %}

        <div class="group_content">
            <div class="group_lists">
                <h1>Owned groups</h1>
                <br>
                {% if owned_groups|length == 0 %}
                <p>You do not own any groups</p>
                {% endif %}
                
                {% for group in owned_groups %}


                    <a href = {% url 'group_detail' group.id %}>
                        <div class= "group">
                            <h2>{{ group.name }}</h2>
                            {% if group.description %}
                                <p>{{ group.description }}</p>
                            {% endif %}

                        </div>
                    </a>
                    <br>
                {% endfor %}

                <h1>Groups you are a member of</h1>
                <br>
                {% if group_list|length == 0 %}
                <p>You are not a member of any groups</p>
                {% endif %}
                {% for group in group_list %}
                    <a href = {% url 'group_detail' group.id %}>
                        <div class= "group">
                            <h2>{{ group.name }}</h2>
                            {% if group.description %}
                                <p>{{ group.description }}</p>
                            {% endif %}

                        </div>
                    </a>
                    <br>
                {% endfor %}
            </div>
            <div class="invites">

                <h1> Invites </h1>
                <br>
                <p> you have no current group invites</p>
            
            </div>
        </div>


        {% endblock %}


    
</body>
</html>