{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Wishlist</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "styles/styles.css" %}'>
    <script src='{% static "js/script.js" %}'></script>
</head>
<body>
    <div class="topbar">
        <div class="topbar-left"></div>

        <div class="topbar-center">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'wishlist_list' %}">Wishlists</a>
        </div>
        <div class="topbar-spacer"></div>
        <div class="topbar-right">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
    </div>
    <div class = "centered_box">
        <h1>Wishlist</h1>
        <p> Welcome, {{ request.user.username }}!</p>
        <a href="{% url 'protected' %}">See secret '_'</a>
        <form action="{% url 'logout' %}" method = "post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

        {% if False %}
        <form action="{% url 'create_wishlist' %}" method = "get">
            <button type="submit">Click to enter form</button>
        </form>
        {% endif %}

    </div>

    {% if False %}
    {% for wishlist in wishlists %}
        <div class="wishlist">
            <h3>{{ wishlist.name }}</h3>
            {% for item in wishlist.items.all %}
                <div class="wishlist-item">
                    <p>{{ item.name }}</p>
                    {% if item.image%}
                    <img class="item-image"  src="{{ item.image.url }}" alt="{{ item.name }}"><br>
                    {% endif %}
                    {% if item.example_link %}
                    <a href="{{ item.example_link }}">{{ item.example_link }}</a>
                    {% endif %}
                </div>
            {% endfor %}
    {% endfor %}
    {% endif %}
    
</body>
</html>