{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

<html>
<head>
    {% block title %}
    <title>Wishlist</title>
    
    {% endblock %}
</head>
<body>
    
        {% block content %}
        <h1>Wishlist</h1>

        {% if request.user.is_authenticated %}
        <br>
        <p> Welcome, {{ request.user.username }}!</p>
        <a href="{% url 'protected' %}">See secret '_'</a>
        <form action="{% url 'logout' %}" method = "post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <br>
        <p> Welcom to the wishlist manager app </p>
        <br>
        <p> to make a wishlist, or view wishlists shared with you, please log in or register</p>
        <form action="{% url 'login' %}" method = "get">
            <button type="submit">Login</button>
        </form>
        {% endif %}

        {% comment %} 
        <form action="{% url 'create_wishlist' %}" method = "get">
            <button type="submit">Click to enter form</button>
        </form> {% endcomment %}
        {% endblock %}

{% comment %} 
    {% if False %}
    {% for wishlist in wishlists %}
        <div class="wishlist">
            <h3>{{ wishlist.name }}</h3>
            {% for item in wishlist.items.all %}
                <div class="wishlist-item">
                    <p>{{ item.name }}</p>
                    {% if item.image%}
                    <img class="item-image"  src="{{ item.image.url }}" alt="{{ item.name }}"><br>
                    {% endif %}
                    {% if item.example_link %}
                    <a href="{{ item.example_link }}">{{ item.example_link }}</a>
                    {% endif %}
                </div>
            {% endfor %}
    {% endfor %}
    {% endif %} {% endcomment %}

    
</body>
</html>