{% extends "base.html" %}

{% load static %}
<!DOCTYPE html>

<html>
<head>
    {% block title %}
    <title>{{wishlist.name}}</title>
    {% endblock %}  

</head>
<body>
    {% block content %}
    {% if can_view == False %}
    <h2> You do not have permisson to view this wishlist </h2>
    {% endif %}
    {% if can_view %}
        {% if request.user == wishlist.user %}
            <form action="{% url 'edit_wishlist' wishlist.id %}" method = "get">
                <button type="submit">edit</button>
            </form> 
            <form action="{% url 'delete_wishlist' wishlist.id %}" method="get">
                {% csrf_token %}
                <button type="submit" >Delete</button>
            </form>
        {% endif %}
        <h2> {{ wishlist.name }}</h2>
        <br>
        {% if wishlist.description %}
        <p>{{ wishlist.description }}</p>
        <br>
    {% endif %}
        {% if items|length == 0 %}
        <p>Wishlist has no items</p>
        {% endif %}
        {% for item in items %}
            <div class="wishlist-item">
                <h3>{{ item.name }}</h3>
                {% if item.image %}
                <img class="item-image"  src="{{ item.image.url }}" alt="{{ item.name }}"><br>
                {% endif %}

                {% if item.description %}
                <p>{{item.description}}</p>
                {% endif%}

                {% if item.example_link %}
                <a href="{{ item.example_link }}">{{ item.example_link }}</a>
                {% endif %}

                <form action="{% url 'edit_item' wishlist.id item.id %}" method = "get">
                    <button type="submit">edit</button>
                </form> 
                <form action="{% url 'delete_item' wishlist.id item.id %}" method = "get">
                    <button type="submit">delete</button>
                </form> 
            </div>
        {% endfor %}
        {% if wishlist.user == request.user %}
        <br>
        <form action="{% url 'add_item' wishlist.id %}" method = "get">
            <button type="submit">+</button>
        </form> 
        {% endif %}
    {% endif %}
    {% endblock %}

    
</body>
</html>