{% extends "base.html" %}

{% load static %}
<!DOCTYPE html>

<html>
<head>
    {% block title %}
    <title>{{wishlist.name}}</title>
    {% endblock %}  

</head>
<body>
    {% block content %}
    {% if can_view == False %}
    <h2> You do not have permisson to view this wishlist </h2>
    {% endif %}
    {% if can_view %}
    
        <div class="wishlist-title">
            <div class = "edit_wishlist_button"></div><div class = "delete_wishlist_button"></div>

            <h2> {{ wishlist.name }}</h2>
            {% if request.user == wishlist.user %}
            
            <form action="{% url 'edit_wishlist' wishlist.id %}" method = "get" class="edit_wishlist_button">
                <button type="submit" class="edit_wishlist_button">edit wishlist</button>
            </form> 
            <form action="{% url 'delete_wishlist' wishlist.id %}" method="get" class="delete_wishlist_button">
                {% csrf_token %}
                <button type="submit" class="delete_wishlist_button" >Delete wishlist</button>
            </form>
            {% else %}
            <div class = "edit_wishlist_button"></div><div class = "delete_wishlist_button"></div>
            {% endif %}
        </div>
        <br>
        {% if wishlist.description %}
        <p>{{ wishlist.description }}</p>
        <br>
    {% endif %}
        {% if items|length == 0 %}
        <p>Wishlist has no items</p>
        {% endif %}
        <div class="wishlist-item-container">
        {% for item in items %}
            <div class="wishlist-item">
        
 
                <div class="item-content">
                    <div class="item_image">
                        {% if item.image %}
                        <img class="item-image"  src="{{ item.image.url }}" alt="{{ item.name }}"><br>
                        {% endif %}
                    </div>
                    <div class="item-text">

                        <div class="item-title">
                            {% if request.user == wishlist.user %}<div class = "edit_button"></div><div class = "edit_button"></div>{% endif %}

                            <h3>{{ item.name }}</h3>

                            {% if request.user == wishlist.user %}
                                <form action="{% url 'edit_item' wishlist.id item.id %}" method = "get" class="edit_button">
                                    <button type="submit" class="edit_button">edit</button>
                                </form> 
                                <form action="{% url 'delete_item' wishlist.id item.id %}" method = "get" class="delete_button">
                                    <button type="submit" class="delete_button">delete</button>
                                </form> 
                            {% endif %}
                        </div>
                        

                        {% if item.description %}
                        <p>{{item.description}}</p>
                        {% endif%}

                        {% if item.example_link %}
                            <br>
                            {% if item.example_link|length <= 45 %}
                            <p>example-link: <a href="{{ item.example_link }}">{{ item.example_link }}</a></p>
                            {% else %}
                                <p>example-link: <a href="{{ item.example_link }}">click here</a></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
        </div>
        {% if wishlist.user == request.user %}
        <br>
        <form action="{% url 'add_item' wishlist.id %}" method = "get">
            <button type="submit">+</button>
        </form> 
        {% endif %}
    {% endif %}
    {% endblock %}

    
</body>
</html>