{% extends "base.html" %}

{% load static %}
<!DOCTYPE html>

<html>
<head>
    {% block title %}
    <title>Wishlist</title>
    {% endblock %}  

</head>
<body>
    {% block content %}
        <h2>Wishlists shared with you</h2>
        <br>
        {% if wishlist_list|length == 0 %}
        <p>You have not been shared any wishlists</p>
        {% endif %}
        {% for wishlist in wishlist_list %}
            <div class= "wishlist">
                <h2>{{ wishlist.name }}</h2>
                {% if wishlist.description %}
                    <p>{{ wishlist.description }}</p>
                {% endif %}
                <a href="{% url 'wishlist_list' %}">View</a>

                <p>Created by: {{ wishlist.user }}</p>

            </div>
        {% endfor %}
    {% endblock %}

    
</body>
</html>