{% extends "base.html" %}

{% load static %}
<!DOCTYPE html>

<html>
<head>
    {% block title %}
    <title>Wishlist</title>
    {% endblock %}  

</head>
<body>
    {% block content %}
        <h1>Your Wishlists</h1>
        <form action="{% url 'create_wishlist' %}" method = "get">
            <button type="submit">Create wishlist</button>
        </form> 
        {% if wishlist_list|length == 0 %}
        <p>You have not made any wishlists</p>
        {% endif %}
        {% for wishlist in wishlist_list %}
        <a href="{% url 'wishlist_detail' wishlist.id %}">

            <div class= "wishlist">
                <h2>{{ wishlist.name }}</h2>
                {% if wishlist.description %}
                    <p>{{ wishlist.description }}</p>
                {% endif %}
                <a ></a>

                <p>Created by: {{ wishlist.user }}</p>

            </div>
        </a>
        {% endfor %}
    {% endblock %}

    
</body>
</html>