
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin:0;
    padding: 20px;
    overflow: hidden;
}


h1{
    color: #4a90e2;
}

a{
    text-decoration: none;
    color: #4a90e2;
}
a:hover{
    text-decoration: underline;
}

button{
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #357ab8;
}


.topbar {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    
    z-index: 100;
}

.topbar-left {
    display: flex;
    justify-content: flex-start;
    flex: 1;

    gap: 20px; 
    

}

.topbar-center {
    display: flex;
    flex: 3;
    justify-content: center;
    gap: 20px; 

}

.topbar-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 20px; 

}

.topbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.centered_box{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 30px;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: calc(100vh - 50px);
    min-height: 80%;
    background-color: #99999952;
}

.wishlist {
    margin: 10px;
    padding: 10px;
    background-color: #999999;
    text-align: center;
    border-radius: 10px;
    width: 80%;
}

.wishlist h1, .wishlist h2, .wishlist h3, .wishlist p {
    color: rgb(0, 0, 0);
    text-decoration: none;

}








.btn{
    font-size: 16px;
    outline: none;
}

.logo{
    width: 13%;
    max-width: 600px;
    display: block;
    margin: 0 auto 20px;
}


form{
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4p 8px rgba(0,0,0,0.1);
    padding: 20px;
}

label{
    font-weight: bold;
}

input[type="text"],
input[type="password"], textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.success-message{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
}

.success-message p{
    margin: 20px 0;
}

.scrollable-checkboxes {
    max-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

.scrollable-checkboxes ul {
    padding-left: 0; 
}

.scrollable-checkboxes li {
    list-style-type: none;
}

.edit_button{
    width: 35px;
    height:20px;
    padding: 0px;
    flex:1;
}
.edit_button button {
    background-color: #f8c811;
}
.delete_button{
    width: 35px;
    height:20px;
    padding: 0px;
    flex:1;
}
.delete_button button {
    background-color: #db2828;
}

.wishlist-item {
    margin: 10px;
    padding: 10px;
    background-color: #a9a9a9;
    text-align: center;
    border-radius: 10px;
    min-width: 60%;
    max-height: 225px;

}

.wishlist-item img {
    width: 125px;
    height: 125px;
}

.wishlist-item-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    
}

.item-content {
    position: relative;
    display: flex;

}
.item-text {
    flex:2;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.item-title {
    display: flex;
    flex-direction: row;

}
.item-title h3 {
    flex: 6;
}

.item-image {
    flex:1;
}

.edit_wishlist_button{
    width: 100px;
    height:40px;
    padding: 0px;
    flex:1;


}
.edit_wishlist_button button {
    background-color: #f8c811;
}
.delete_wishlist_button{
    width: 100px;
    height:40px;
    padding: 0px;
    flex:1;

}
.delete_wishlist_button button {
    background-color: #db2828;
}

.wishlist-title {
    display: flex;
    flex-direction: row;
    width: 90%;
    text-align: center;

}
.wishlist-title h2 {
    flex: 6;
}


.group {
    background-color: #cccccc;
    width: 350px;
    min-height: 100px;
}

.group_content {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
}

.group_lists {
    flex:2

}

.invites {
    flex:1
}