{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>

<html>
<head>
    {% block title %}
    <title>login</title>
    {% endblock %}
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

    {% block content %}
        <h2>Login</h2>

        <form method="POST" action = "{% url 'login' %}">
            {% csrf_token %}

            <input type="hidden" name="next" value="{{next}}">
            <div class="form_group">
                <label for = "username">Username</label>
                <input type="text" name="username" id="username" requierd>
            </div>
            <div class="form_group">
                <label for = "password">Password</label>
                <input type="password" name="password" id="password" requierd>
            </div>
            
            <button type="submit">Login</button>
        </form>

        {% if error %}
        <p class="error">{{error}}</p>
        {% endif %}
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>   


    {% endblock %}    
</body>
</html>