{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Register</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "styles/styles.css" %}'>
    <script src='{% static "js/script.js" %}'></script>
</head>
<body>
    <div class="topbar">
        <div class="topbar-left"></div>

        <div class="topbar-center">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'wishlist_list' %}">Wishlists</a>
        </div>
        <div class="topbar-spacer"></div>
        <div class="topbar-right">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
    </div>
    
    <div class = "centered_box">
        <h2>Register</h2>

        <form method="POST" action = "{% url 'register' %}">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Register</button>
        </form>

    </div>
    
</body>
</html>